# Reemplaza 'mi_contraseña_segura' por la que vayas a usar realmente
POSTGRES_USER=admin
POSTGRES_PASSWORD=mi_contraseña_segura
POSTGRES_DB=backend_db

# Dominio público si decides asignarle uno al Evolution API, o la IP del VPS si no.
SERVER_URL=https://whatsapp.tu-colegio.com

# Crea una contraseña alfanumérica larga y pégala aquí
AUTHENTICATION_API_KEY=K3Y_S3CR3TA_123456789

# Nota que aquí nos conectamos por el nombre de contenedor "postgres"
DATABASE_CONNECTION_URI=postgresql://admin:mi_contraseña_segura@postgres:5432/backend_db?schema=public
LOG_LEVEL=info