# Mismo usuario, contraseña y base de datos que arriba.
# El host DEBE ser "postgres" (el nombre del contenedor).
DATABASE_URL="postgresql://admin:mi_contraseña_segura@postgres:5432/backend_db?schema=public"

# Como el backend y evolution están en la misma red de Dokploy, 
# se comunican internamente a máxima velocidad sin salir a internet.
EVOLUTION_API_URL="http://evolution-api:8080"
EVOLUTION_API_KEY="K3Y_S3CR3TA_123456789" # Mismo que arriba

PORT=3000
NODE_ENV=production
SESSION_SECRET="cualquier_texto_largo_y_dificil_de_adivinar"
